ul(class='topnav')
      li
            a(class='active', href="/") Home
      li(class='right')
            a(href="whichSignUp.html") Sign Up
      li(class='right')
            a(href='login.html') Login 


