extends layout

block content
    .container
        .intro
            h1 FitnessBuddy
            h2 Dedicate yourself to becoming your best.
            p See the progress of your goals. We help you keep daily track of your calories, workouts! 
            button#start(onclick=`location.href = 'whichSignUp.html'`) Sign me up!
            p Already an existing user? <a href="login.html"> Login </a>
            p Sign Up as a personal trainer! <a href="trainer_signup.html"> Sign Up!
        .banner
            .before
                a(href='')
                img(src="/img/0.png")
            .arrow
                a(href='')
                img(src="/img/arrow.png")
            .after
                a(href='')
                img(src="/img/1.png")
