doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Signup to FitnessBuddy!
  body
    form(action='/signup', method='post')
      | username:
      input#username(type='text', value='')
      br
      |         password:
      input#password(type='password', value='')
      br
      |         name:
      input#name(type='text', value='')
      br
      |         weight:
      input#weight(type='text', value='')
      br
      |         height:
      input#height(type='text', value='')
      br
      |         date of birth :
      input#dob(type='date', value='')
      br
      button(type='submit') submit
