html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffff;
    font-family: sans-serif;
  }

  footer{
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    position: relative;
    bottom: 0px;
    border-top: 1px solid rgb(139,168,84);
    padding: 2px;
  }
  footer p{
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgb(139,168,84);
    color: rgb(139,168,84);
    text-align: center;
    padding: 10px;
  }

  #map {
    height: 80%;
  }

  #signout_button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}


ul.topnav {
  height:50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(139,168,84);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:18px;
}

ul.topnav li a:hover:not(.active) {background-color: rgb(87, 116, 35);}

ul.topnav li a.active {background-color: rgb(113, 142, 59)}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}